
section.cards div.container-cards{
	width: 90%;
	height: auto;
    display: grid;
	grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
	justify-content: center;
	margin: 20px auto;
}
section.cards div.container-cards article{
    width: auto;
    padding: 25px;
    text-align: center;
    position: relative;
}
section.cards div.container-cards article div.image{
    width: 100%;
    height: 250px;
    display: block;
    overflow: hidden;
}
section.cards div.container-cards article div.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all 0.3s;
}
section.cards div.container-cards article div.image img:hover{
    width: 110%;
    height: 110%;
}

section.cards div.container-cards article h3{
    font-size: large;
    text-align: center;
    margin: 20px auto;
}
section.cards div.container-cards article p{
    text-align: center;
    line-height: 2;
}
/*contador de productos*/
.ButtonContainer{
    width: 200px;
    height: 100px;
    margin: 20px 0;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    overflow: hidden;
}
.ButtonContainer > button{
    width: 100%;
    padding: 5%;
    margin: 0px auto;
}
.ButtonContainer .CounterButton{
    width: 100%;
    height: 100%;
    display: grid;
    overflow: hidden;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: blue;
}
.ButtonContainer .CounterButton span{
    background-color: var(--color-blanco);
    text-align: center;
    align-self: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0px 0px 7px 0px #5f5c5aa6;
}
.ButtonContainer .CounterButton button{
    margin: 0px;
    width: 100%;
    height: 100%;
    padding: 0px;
}

@media screen and (max-width:1000px){
	section.cards div.container-cards{
		grid-gap: 10px;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
	}	
}
@media screen and (max-width:850px){
	
	main > section.two{
		grid-template-columns: 1fr; 
		grid-template-rows: 1fr 1fr; 
		gap: 5px;
        height: auto;
	}
	main > section#contacto{
		height: auto;
	}
}